#header{
    height:60px;
    background:#14191e;
}

#header h1 img{
    padding-left:20px;
    height:58px;
}

#header ul{
    position:absolute;
    top:0;
    right:10px;
}

#header ur li{
    text-align:center;

    width:60px;
    display:block;
    float:left;
    padding:20px 10px;
}
